.spinner {
  margin: auto;
  //   display: flex;
  position: absolute;
  left: 300px;
  // right: 100px;
  //   right: 0;
  top: 100px;
  width: 25%;
  //   animation-duration: 0.95;
  overflow: hidden;
  //   ;
}
