.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  // background-color: rebeccapurple;
}
.backdrop-blur {
  // backdrop-filter: blur(10px);
}
.spinner,
.progress-bar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
