.search-container {
  .search-bar {
    height: 80px;
    position: absolute;
    border: 1px solid #ccc;
    left: 0;
    right: 0;
    top: 0;
    bottom: 18%;
    margin: auto;
    border-radius: 50px;
    width: 60%;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: transparent;
    padding: 15px;

    gap: 20px;

    .icon {
      color: gray;
    }
    .search {
      background: transparent;
      // background-color: rgb(2, 1, 4);
      border: none;
      outline: none;
      font-size: 18px;
      color: black;
      padding: 3px;
      width: 1700px;

      &::placeholder {
        color: gray;
      }
    }
    .error-msg {
      margin: auto;
      color: red;
      font-size: 18px;
      font-weight: bold;
      position: absolute;
      left: 300px;
      top: 100px;
      // width: 25%;
      overflow: hidden;
    }
    button {
      float: right;
      width: 150px;
      padding: 10px;
      background: transparent;
      font-size: 20px;
      color: white;
      border-radius: 10px;
      background-color: black;
      border: none;
      cursor: pointer;
      // outline: none;
    }

    button:hover {
      color: black;
      background-color: white;
      border: 1px solid #ccc;
    }
  }
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 40px 0px;
    border: 1px solid #888;
    border-radius: 20px;
    width: 400px;
    height: 400px;
    text-align: center;
    position: relative;

    h2 {
      margin-bottom: 10px;
    }

    .absolute{
      position: absolute;
      top: 15px ;
      right: 10px;
      width: 30px;
      height: 30px;
      cursor: pointer;
    }
  }
}
