.progress-bar {
  margin: auto;
  display: flex;
  align-items: center;
  text-align: center;
  top: 80px;
  width: 50%;
  overflow: hidden;
}

.progress-red {
  .CircularProgressbar-path {
    stroke: red !important;
  }
  .CircularProgressbar-text {
    fill: red;
  }
}

.progress-yellow {
  .CircularProgressbar-path {
    stroke: yellow !important;
  }

  .CircularProgressbar-text {
    fill: yellow !important;
  }
}

.progress-green {
  .CircularProgressbar-path {
    stroke: green !important;
  }
  .CircularProgressbar-text {
    fill: green !important;
  }
}
//   margin-top: 230px;
//

// @media (min-width: 750px) and (max-width: 912px) {
//   margin-top: 300px;
// }
